@import url(https://fonts.googleapis.com/css?family=Lato:300);

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background: black;
    background: linear-gradient(to bottom right, #000000, #1c1c1c);
    color: rgba(155, 153, 153, 0.5);
}

section div {
    margin-left: 5px;
    animation: scaler 1.5s ease-in-out infinite;
}

.delay1 {
    animation-delay: .1s;
}
.delay2 {
    animation-delay: .2s;
}
.delay3 {
    animation-delay: .3s;
}
.delay4 {
    animation-delay: .4s;
}
.delay5 {
    animation-delay: .5s;
}
.delay6 {
    animation-delay: .6s;
}

@keyframes scaler {
    0% {
        transform: scale(0,0);
    }
    50% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(0, 0);
    }
}
